section(class="canvas front" id="front")

    div(class="content")

        h2 Prisma Protocol

        div

            p Earn BUSD and Shitcoins

            div

                a(href="#section-2") Buy in PancakeSwap
                a(href="#section-3") Chart in Poocoin

    +nav-1({ target: "section-1", direction: "next" })
