section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="http://i2.cdn.turner.com/money/dam/assets/130423094442-tesla-model-s-620xa.jpg" inline)

            article

                h2 Tokenomics 

                p.
                    StableGrow is a new deflationary-reflection token on the Binance Smart Chain network.
                    Simply hold $SGC tokens in your wallet and earn passive income in $BUSD.
                    12% of every Buy/Transfer/Sell transaction is redistributed automatically to $SGC eligible holders.

    +nav-1({ target: "section-2", direction: "next" })
